{% extends "layout.html" %}

{% block title %}

A/B Test Suite

{% endblock %}

{% block content %}
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<link rel="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">

<div class="row appname">
    <div class="col text-center"><h2>Signfificance Test for the Difference of Means</h2></div>
</div>
<br>
<div class="container">

    <div class="row">
        <div class="col-12">
         under construction

        </div>
    </div>
</div>


{% endblock %}